  <!doctype html>
<html lang="en">

<head> 
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Patient APP</title>
</head>

<body>
  <br>
    <h1 style="text-align: center" > Welcome ADMIN </h1>
    <br>
    <h3 style="text-align: center" > Patient List </h3>
    <br>
      <p-table styleClass="adminTable" [value]="this.patientObjs" [autoLayout]="true">
        <ng-template pTemplate="header">
          <tr>
          <th>Id</th>
          <th>FirstName</th>
          <th>LastName</th>
          <th>Gender</th>
          <th>Email</th>
          <th>Contact</th>
          <th>Problems</th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pat>
        <tr>
          <td>{{pat.id}}</td>
          <td>{{pat.firstName}}</td>
          <td>{{pat.lastName}}</td>
          <td>{{pat.gender}}</td>
          <td>{{pat.email}}</td>
          <td>{{pat.contact}}</td>
          <td> 
            <p-accordion>
              <p-accordionTab header="View">
                  <p *ngFor="let p of pat.problems">{{p.patientProblem}}</p>           
               </p-accordionTab>
            </p-accordion>
          </td> 
          <td>
          <button style="font-size: small;" type="button" pbutton (click)="Delete(pat.id)" 
           pButton icon="pi pi-times"></button>
          </td>
          <td> 
          <button style="font-size: small;" type="button" pbutton (click)="Update(pat)"
           pButton icon="pi pi-user-edit"></button>
          </td>
          </tr>
          
        </ng-template>
      </p-table>

<!-- ************************************Update UI************************************** -->

<p-dialog header="Update Form" [(visible)]="UpdateScreen" [style]="{width: '50vw'}" [baseZIndex]="100">
  <p-card  class="p-field p-grid" styleClass="signup-card-content">
    <form [formGroup]="patientObj.formPatientGroup" >
      <div class="p-field p-grid">
        <label for="id" class="p-col-fixed">Id</label>
        <div class="p-col">
            <input disabled
            formControlName="idControl"
            [(ngModel)]="patientObj.id" 
            id="id" type="text"  pInputText >
          </div>  
        </div>  
  
    <div class="p-field p-grid">
      <label for="firstname" class="p-col-fixed">Firstname</label>
      <div class="p-col">
          <input [(ngModel)]="patientObj.firstName" 
          id="firstname" type="text" formControlName="firstNameControl"  pInputText >
          <div style="color: red" 
          *ngIf="patientObj.formPatientGroup.dirty" 
          [hidden]="!(patientObj.formPatientGroup.controls['firstNameControl']
          .hasError('required'))">
            *Please enter your First Name</div> 
                    <br> 
        </div>
      </div>  
      
      
  <div class="p-field p-grid">
      <label for="lastname" class="p-col-fixed">Lastname</label>
      <div class="p-col">
          <input [(ngModel)]="patientObj.lastName"
          id="lastname" type="text" formControlName="lastNameControl" pInputText> 
          <div  style="color: red" 
          *ngIf="patientObj.formPatientGroup.dirty" 
          [hidden]="!(patientObj.formPatientGroup.controls['lastNameControl']
          .hasError('required'))">
            *Please enter Last Name</div>   
            <br> 
      </div>
  </div>
  
  <div class="p-field p-grid">
    <label for="gender" class="p-col-fixed" >Gender</label>
    <div class="p-col">
        <input [(ngModel)]="patientObj.gender"
        id="gender" type="text" formControlName="genderControl" pInputText> 
        <div  style="color: red" 
        *ngIf="patientObj.formPatientGroup.dirty" 
        [hidden]="!(patientObj.formPatientGroup.controls['genderControl']
        .hasError('required'))">
          *Please enter Gender</div>   
          <br> 
    </div>
  </div>
  
  
  
  <div class="p-field p-grid">
  <label for="Email" class="p-col-fixed">Email</label>
  <div class="p-col" style="padding-left: 30px;">
      <input  [(ngModel)]="patientObj.email"
      id="Email" type="text"  formControlName="emailControl" pInputText> 
      <div style="color: red"  
      *ngIf="patientObj.formPatientGroup.dirty" [hidden]="!(patientObj.formPatientGroup.controls['emailControl']
      .hasError('required'))">
       *Please enter Email</div>
     <br>
  </div>
  </div>
  
  <div class="p-field p-grid">
  <label for="Contact" class="p-col-fixed">Contact</label>
  <div class="p-col" style="padding-left: 15px;">
      <input [(ngModel)]="patientObj.contact"
      id="Contact" type="text"  formControlName="contactControl" pInputText> 
      <div style="color: red" 
      *ngIf="patientObj.formPatientGroup.dirty" [hidden]="!(patientObj.formPatientGroup.controls['contactControl']
      .hasError('required'))">
        *Please enter Phone Number</div>
      <br>
  </div>
  </div>
</form>
  <br>
  
  <div class="p-fluid p-formgrid p-grid">
  <div class="p-field p-col">
      <label for="firstname1">Enter Your Problems</label>
      <input [(ngModel)]="problemObj.patientProblem" id="firstname1" type="text" pInputText> 
  </div>
  <div class="p-field p-col">
    <div style="text-align: center;">
      <p-button label="Add Problem" (click)="AddProblem()"></p-button>
     </div>
     <br>
     <p-table styleClass="adminTable"  [value]="this.patientObj.problems" [autoLayout]="true">
      <ng-template pTemplate="header">
  
        <tr>
          <th colspan="2"><strong>Problems</strong></th>
        </tr>
      </ng-template> 
      <ng-template pTemplate="body" let-pat>
      <tr>
        <td>{{pat.patientProblem}}</td>
        <td>
           <button style="font-size: small;" type="button" pbutton 
           (click)="DeleteProblem(pat.patientProblem)"
           pButton icon="pi pi-times"></button>

          </td>
      </tr>
    </ng-template>
    </p-table>  
    <br>
     <div style="margin: auto;">
      <p-button label="Submit" (click)=Put()></p-button>
     </div>
  </div>
  </div> 
  </p-card>
</p-dialog>




  <!-- <form [formGroup]="patientObj.formPatientGroup">
    <h3>Please Enter Details </h3><br>
    Patient Id <input formControlName="idControl" [(ngModel)]="patientObj.id" type="text" name="" value="this.id">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['idControl'].hasError('required'))">*Please
      enter Id</div>
    <br>
    First Name <input formControlName="firstnameControl" [(ngModel)]="patientObj.firstName" type="text" name=""
      value="">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['firstnameControl'].hasError('required'))">
      *Please enter your First Name</div>
    <br>
    Last Name <input formControlName="lastnameControl" [(ngModel)]="patientObj.lastName" type="text" name="" value="">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['lastnameControl'].hasError('required'))">
      *Please enter Last Name</div>
    <br>
    Patient Problem <input formControlName="problemControl" [(ngModel)]="problemObj.patientProblem" type="text" name=""
      id="">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['problemControl'].hasError('required'))">
      *Please enter Problem</div>
    <input type="button" value="Add Problem" (click)="AddProblem()"> <br>
    Contact <input formControlName="contactControl" [(ngModel)]="patientObj.id" type="text" name="" value="this.id">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['contactControl'].hasError('required'))">
      *Please enter Phone Number</div>
    <br>
    <input type="button" value="Submit" (click)="Submit()"> <br>
  </form> -->

 
 <!-- ***********************Add problem table**************************************** -->
  <!-- <table class="table">

    <tr>
      <td>Problem</td>
    </tr>
    <tr *ngFor="let pat of patientObj.patientProblems">
      <td>{{pat.patientProblem}}</td>
    </tr>

  </table>
  <br> -->
  <!-- ************************** main table from Server *************************************     -->


  
 
</body>
</html> 