<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <title>Patient APP</title>
</head>

<body><br>
  <p-card [style]="{width: '1000px'}"> 
    <h2 style="justify-content: center;" > Welcome <i>{{this.username}}</i></h2>
<hr>
    <br>
    <br>
    <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col">
            <label for="firstname1">Enter Your Problems</label>
            <input [(ngModel)]="problemObj.patientProblem" id="firstname1" type="text" pInputText> 
        </div>
        <div class="p-field p-col">
          <div style="text-align: center;">
            <p-button label="Add Problem" (click)=AddProblem()></p-button>
           </div>
           <br>
           <p-table styleClass="adminTable"  [value]="this.patientObj.problems" [autoLayout]="true">
            <ng-template pTemplate="header">

              <tr>
                <th><strong>Problems</strong></th>
              </tr>
            </ng-template> 
            <ng-template pTemplate="body" let-pat>
            <tr>
              <td>{{pat.patientProblem}}</td>
            </tr>
          </ng-template>
          </p-table>  
          <br>
           <div style="text-align: center;">
            <p-button label="Submit" (click)=Submit()></p-button>
           </div>
        </div>
      </div> 
    </p-card>
    <br>
  

  <!-- <div class= " card card-title container-fluid" style="text-align:center" >
    <h1 style="justify-content: center;" > WELCOME <i>{{this.username}}</i></h1></div>
  <mat-grid-list cols="2">
<mat-grid-tile style="max-height: 100px">
    <div  class="card SignupForm" style="width: 30rem;margin: 20px 0px 200px 20px ;" >
     <div class="card-body" >
      <div class="form-group">
        <label>Enter Your Problem(s)</label>
        <input type="text" class="form-control" 
        [(ngModel)]="problemObj.patientProblem">
        </div>
        <div style="text-align: center;">
          <Button  class="btn btn-primary" value="AddProblem" (click)=AddProblem()>Add Problem</Button>
         </div>
         <br>
         <div style="text-align: center;">
          <Button  class="btn btn-primary" value="Submit" (click)=Submit()>Submit</Button>
         </div>
         <br><br>
         </div></div>
         -->

        
     <!-- <br>
     <div>
     
  </div>
    <br>
    
  </mat-grid-tile>
    </mat-grid-list>    -->


  <!-- <form [formGroup]="patientObj.formPatientGroup">
    <h3>Please Enter Details </h3><br>
    Patient Id <input formControlName="idControl" [(ngModel)]="patientObj.id" type="text" name="" value="this.id">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['idControl'].hasError('required'))">*Please
      enter Id</div>
    <br>
    First Name <input formControlName="firstnameControl" [(ngModel)]="patientObj.firstName" type="text" name=""
      value="">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['firstnameControl'].hasError('required'))">
      *Please enter your First Name</div>
    <br>
    Last Name <input formControlName="lastnameControl" [(ngModel)]="patientObj.lastName" type="text" name="" value="">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['lastnameControl'].hasError('required'))">
      *Please enter Last Name</div>
    <br>
    Patient Problem <input formControlName="problemControl" [(ngModel)]="problemObj.patientProblem" type="text" name=""
      id="">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['problemControl'].hasError('required'))">
      *Please enter Problem</div>
    <input type="button" value="Add Problem" (click)="AddProblem()"> <br>
    Contact <input formControlName="contactControl" [(ngModel)]="patientObj.id" type="text" name="" value="this.id">
    <div style="color: red" [hidden]="!(patientObj.formPatientGroup.controls['contactControl'].hasError('required'))">
      *Please enter Phone Number</div>
    <br>
    <input type="button" value="Submit" (click)="Submit()"> <br>
  </form> -->

 
 <!-- ***********************Add problem table**************************************** -->
 
  
  <!-- ************************** main table from Server *************************************     -->

    <!-- <table class= "table">

      <tr *ngFor="let pat of patientObjs">
        <td>Id</td>
        <td>FirstName</td>
        <td>LastName</td>
        <td colspan="2" *ngFor="let p of pat.problems">Problem</td>
        <td>Contact</td>
      </tr>
  
      <tr *ngFor="let pat of patientObjs">
        <td>{{pat.id}}</td>
        <td>{{pat.firstname}}</td>
        <td>{{pat.lastname}}</td>
        <td *ngFor="let p of pat.problems">{{p.patientProblem}}</td>
        <td>{{pat.contact}}</td>
        <td> <input type="button" value="Delete" (click)="Delete(pat.patientName)"></td>
        <td> <input type="button" value="Update" [routerLink]="['/UpdatePatient/Update']"></td>
        
      </tr>
  
    </table> -->
 
   

 
</body>
</html>